version: "3"
services:

  dev:
    build: ./dev
    volumes:
      - "mydata:/tmp/boxfuse"

  prod:
    image: tomcat:9-openjdk11-buster
    volumes:
      - "mydata:/tmp/boxfuse"
    ports:
      - "8081:8080"
    command: >
      bash -c  "cp /tmp/boxfuse/target/hello-1.0.war $CATALINA_HOME/webapps/
      && catalina.sh run"

volumes:
  mydata:
