version: "3"
services:

  dev:
    build: ./dev
    volumes:
      - "mydata:/usr/local/tomcat/webapp"

  prod:
    image: tomcat:9
    volumes:
      - "mydata:/usr/local/tomcat/webapp"
    ports:
      - "8080:8080"
volumes:
  mydata:
