version: "3"
services:

  dev:
    build: ./dev
    volumes:
      - "mydata:/opt/boxfuse/target/"

  prod:
    build: ./prod
    volumes:
      - "mydata:/opt/tomcat/webapps/"
    ports:
      - "8080:8080"
    depends_on:
      - dev

volumes:
  mydata:

