version: "3"
services:

  dev:
    build: ./dev
    volumes:
      - "mydata:/opt/boxfuse"

  prod:
    build: ./prod
    volumes:
      - "mydata:/opt/tomcat/webapp"
    ports:
      - "8080:8080"
    depends_on:
      - dev

volumes:
  mydata:

